@media (max-width: 786px) {

/* header */
    
    header {
        width: 100%;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #F2EAE6;
        
    }

    header ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .section-container{
        display: flex;
        align-items: center;
        justify-content: center;  
        flex-direction: column;
        height: 650px;
        
    }

    .section-container .texto-central button {
        background-color: #D99992;
        color: #3E2463;
        padding: 10px 20px;
        border-radius: 30px;
        cursor: pointer;
        font-size: 20px;
        margin: 20px;
        
    }
}